#KCNavbar{
    border-bottom: 2px solid $main-background;
    font-size: 0.9em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 45px;
    background: $prim;
    z-index: 999;
    #sideMenu {
        display: none;
    }
    #navLogo {
        border: none;
        background-color: $prim;
        border-top: 0.2rem solid $prim;
        border-bottom: 0.2rem solid $prim;
        div div:nth-child(1) {
            display: none;
        }
        .KCLogo {
            height: 40px;
        }
    }

    #navContent {
        background-color: transparent;
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 1fr 4fr 1.5fr 0.7fr;
        grid-template-rows: minmax(45px, 45px);
        .navSearchBar {
            align-self: center;
            border-top: 0.3rem solid transparent;
            border-bottom: 0.2rem solid $prim;
            input {
                border-radius: 20px;
            }
            i.icon.search {
                color: $prim;
            }
        }
        .navMenu{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .btnNavMenu {
                margin: 0;
                border: none;
                background-color: transparent;
                color: $main-background;
                text-transform: uppercase;
                border-bottom: 0.2rem solid $prim;
                span::after {
                    content: '  ';
                }
                i {
                    transition: all 0.5s ease-in-out;
                }
            }
            .btnNavMenu.active {
                cursor: pointer;
                border-top-right-radius: 50px;
                border-top-left-radius: 50px;
                border-bottom: none;
                border-top: 0.2rem solid $contrast-prim;
                background-color: $main-background;
                color: $prim;
            }
            .btnNavMenu:hover {
                border-bottom: 0.2rem solid $contrast-prim;
                cursor: pointer;
                font-weight: bold;
                i {
                    transform: rotate(360deg);
                }
            }
            .btnLogo {
                display: none;
            }
        }
        .btnAsk {
            align-self: center;
            padding-top: 8px;
            padding-bottom: 8px;
            background: $main-background;
            color: $prim;
            cursor: pointer;
            border: 0.2rem solid $contrast-prim;
            border-radius: 40px;
            @media screen and (max-width: $laptop){
                span {
                    display: none;
                }
            }
            span::after {
                content: '  ';
            }
            i {
                transition: all 0.5s ease-in-out;
            }
        }
        .btnLogin {
            align-self: center;
            padding-top: 8px;
            padding-bottom: 8px;
            background: $main-background;
            cursor: pointer;
            color: $prim;
            border: 0.2rem solid $contrast-prim;
            border-bottom-left-radius: 40px;
            border-top-left-radius: 40px;
            @media screen and (max-width: $laptop){
                span {
                    display: none;
                }
            }
            span::after {
                content: '  ';

            }
            i {
                transition: all 0.5s ease-in-out;
            }
        }

        .btnAsk:hover i, .btnAsk:focus i, .btnLogin:hover i, .btnLogin:focus i {
            transform: rotate(360deg);
        }

        .blockAvatarImg {
            cursor: pointer;
            align-self: center;
            justify-self: center;
            .avatarImg {
                background-color: $main-background;
                height: 33px;
                vertical-align: middle;
                border-radius: 20px;
                padding: 2px;
                border: 1px solid white;
            }
        }
    }
}
//@media screen and (max-width: $tablet) and (min-width: $above-mobile-L){
//    #KCNavbar{
//        width: 100%;
//        position: fixed;
//        top: 0;
//        left: 0;
//        display: grid;
//        grid-template-columns: 1fr 5fr;
//        grid-template-rows: 45px;
//        background: transparent;
//        font-family: 'Taprom','Patrick Hand', sans-serif;
//        font-size: 10px;
//        z-index: 999;
//        #sideMenu {
//            display: none;
//        }
//        #navLogo {
//            border: none;
//            background-color: $main-green;
//            border-bottom-right-radius: 40px;
//            border-top: 0.2rem solid $main-green;
//            border-bottom: 0.2rem solid $main-green;
//            font-family: 'Pacifico', sans-serif;
//            color: $white;
//            div div:nth-child(1) {
//                display: none;
//            }
//            .KCLogo {
//                height: 35px;
//            }
//        }
//
//        #navContent {
//            background-color: transparent;
//            display: grid;
//            grid-template-columns: 1fr 4fr 1fr;
//            grid-template-rows: minmax(45px, 45px);
//            .navMenu{
//                display: grid;
//                grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
//                .btnNavMenu {
//                    margin: 0px;
//                    border: none;
//                    background-color: transparent;
//                    color: $main-gray;
//                    text-transform: uppercase;
//                    border-bottom: 0.2rem solid $main-green;
//                    span {
//                        display: none;
//                    }
//                }
//                .btnNavMenu.active {
//                    cursor: pointer;
//                    border-top-right-radius: 50px;
//                    border-top-left-radius: 50px;
//                    border-bottom: none;
//                    border-top: 0.2rem solid $main-green;
//                    background-color: rgba($page-background, 0.8);
//                }
//                .btnNavMenu:hover {
//                    border-bottom: 0.1rem dotted $main-green;
//                    cursor: pointer;
//                    font-weight: bold;
//                }
//                .btnLogo {
//                    display: none;
//                }
//                .navTools{
//                    display: grid;
//                    grid-template-columns: 1fr 1fr;
//                    border-bottom: 0.2rem solid $main-green;
//                    > button {
//                        margin: 0px;
//                        border: none;
//                        background-color: transparent;
//                        color: $main-green;
//                        cursor: pointer;
//                    }
//                    .btnSearch {
//                        font-size: 0.8em;
//                        justify-self: center;
//                        align-self: center;
//                        border-radius: 5px;
//                        border: 2px solid transparent;
//                        padding: 2px 7px;
//                        transition: all 0.5s ease-in-out;
//                    }
//                    .btnSearch:hover, .btnSearch:focus {
//                        border-color: $main-green;
//                        background-color: $main-green;
//                        color: white;
//                        transform: rotate(360deg);
//                    }
//                    .btnLang {
//                        font-size: 0.8em;
//                        align-self: center;
//                        justify-self: center;
//                        border: 2px solid $main-green;
//                        padding: 4px 7px;
//                        border-radius: 5px;
//                        display: block;
//                        transition: all 0.5s ease-in-out;
//                    }
//                    .btnLang:hover, .btnLang:focus {
//                        background-color: $main-green;
//                        color: white;
//                        transform: rotate(360deg);
//                    }
//                }
//            }
//            .btnAsk {
//                background: transparent;
//                border-top: 0.2rem solid $main-green;
//                border-bottom: 0.2rem solid $main-green;
//                text-transform: uppercase;
//                border-bottom-left-radius: 40px;
//                border-top-right-radius: 40px;
//                i {
//                    display: none;
//                }
//            }
//            .btnAsk:hover, .btnAsk:focus {
//                border-bottom: 0.2rem solid $main-green;
//                background-color: $main-green;
//            }
//            .btnLogin {
//                background: transparent;
//                text-transform: uppercase;
//                border-top: 0.2rem solid $main-green;
//                border-bottom: 0.2rem solid $main-green;
//                border-top-left-radius: 40px;
//                i {
//                    display: none;
//                }
//            }
//
//            .btnLogin:hover, .btnLogin:focus {
//                background-color: $main-green;
//            }
//
//            .btnAsk:hover i, .btnAsk:focus i, .btnLogin:hover i, .btnLogin:focus i {
//                transform: rotate(360deg);
//            }
//
//            .userProfileBtn {
//                background-color: transparent;
//                border: none;
//                padding: 0;
//                position: relative;
//                display: block;
//                border-bottom: 0.2rem solid $main-green;
//                .blockProfile {
//                    display: block;
//                    .avatar_img_block {
//                        z-index: 6;
//                        cursor: pointer;
//                        .avatar_img {
//                            background-color: $page-background;
//                            border: 1.5px solid $main-green;
//                            border-radius: 20px;
//                            height: 30px;
//                        }
//                    }
//                    .avatar_name {
//                        display: none;
//                    }
//                    .profileMenuList {
//                        position: absolute;
//                        z-index: 999;
//                        div {
//                            i {
//                                margin: 0;
//                                padding: 0;
//                                height: 0;
//                                color: $main-gray;
//                            }
//                            ul {
//                                margin: 0;
//                                font-family: 'Taprom','Montserrat', sans-serif;
//                                border: 2px solid $main-gray;
//                                background-color: white;
//                                padding: 5px;
//                                border-radius: 10px;
//                                padding: 0;
//                                margin: 0;
//                                li {
//                                    margin: 2px;
//                                    text-align: center;
//                                    padding: 8px 8px;
//                                    list-style: none;
//                                    width: auto;
//                                    cursor: pointer;
//                                    border-radius: 8px;
//                                }
//                                li:nth-child(2) {
//                                    border-top: 1px solid $thirdly-gray;
//                                    border-bottom: 1px solid $thirdly-gray;
//                                }
//                                li:hover, li:focus {
//                                    background-color: $secondary-green;
//                                    color: white;
//                                }
//                                li.btnLogout:hover, li.btnLogout:focus {
//                                    background-color: $main-red;
//                                }
//                            }
//                        }
//                    }
//                }
//            }
//        }
//    }
//}
//@media screen and (max-width: $above-mobile-L){
//    #KCNavbar{
//        width: 100%;
//        position: fixed;
//        top: 0;
//        left: 0;
//        display: grid;
//        grid-template-columns: 1fr 5fr;
//        grid-template-rows: 45px;
//        background: transparent;
//        font-family: 'Taprom','Patrick Hand', sans-serif;
//        font-size: 9px;
//        z-index: 999;
//        transition: margin-left 0.5s;
//        #navLogo {
//            border: none;
//            background-color: $main-green;
//            border-bottom-right-radius: 40px;
//            border-top: 0.2rem solid $main-green;
//            border-bottom: 0.2rem solid $main-green;
//            font-family: 'Pacifico', sans-serif;
//            color: $white;
//            div {
//                display: grid;
//                grid-template-columns: 1fr;
//                div:nth-child(2) {
//                    display: none;
//                }
//            }
//            .KCLogo {
//                display: none;
//            }
//        }
//
//        #navContent {
//            background-color: transparent;
//            display: grid;
//            grid-template-columns: 1fr 1fr 1fr;
//            grid-template-rows: minmax(45px, 45px);
//            .navMenu{
//                display: block;
//                margin: 0;
//                text-align: center;
//                .btnLogo {
//                    font-size: 1.2em;
//                    font-weight: bold;
//                    height: 45px;
//                    padding: 0;
//                    margin: 0px;
//                    border: none;
//                    background-color: transparent;
//                    color: $main-gray;
//                    text-transform: uppercase;
//                }
//                .btnSubjects, .btnQuestions, .btnNotifications, .btnGuide {
//                    display: none;
//                }
//                .navTools{
//                    border-bottom: 0.2rem solid $main-green;
//                    .btnSearch {
//                        display: none;
//                    }
//                    .btnLang {
//                        display: none;
//                    }
//                }
//                .KCLogo {
//                    height: 30px;
//                }
//            }
//            .btnAsk {
//                background: transparent;
//                border-top: 0.2rem solid $main-green;
//                border-bottom: 0.2rem solid $main-green;
//                text-transform: uppercase;
//                border-bottom-left-radius: 40px;
//                border-top-right-radius: 40px;
//                i {
//                    display: none;
//                }
//            }
//            .btnAsk:hover, .btnAsk:focus {
//                border-bottom: 0.2rem solid $main-green;
//                background-color: $main-green;
//            }
//            .btnLogin {
//                background: transparent;
//                text-transform: uppercase;
//                border-top: 0.2rem solid $main-green;
//                border-bottom: 0.2rem solid $main-green;
//                border-top-left-radius: 40px;
//                span::after {
//                    content: '  ';
//                }
//            }
//
//            .btnLogin:hover, .btnLogin:focus {
//                background-color: $main-green;
//            }
//
//            .btnAsk:hover i, .btnAsk:focus i, .btnLogin:hover i, .btnLogin:focus i {
//                transform: rotate(360deg);
//            }
//
//            .userProfileBtn {
//                background: none;
//                border: none;
//                padding: 0;
//                position: relative;
//                display: block;
//                border-bottom: 0.2rem solid $main-green;
//                border-top: 0.2rem solid $main-green;
//                border-top-left-radius: 40px;
//                .blockProfile {
//                    display: block;
//                    .avatar_img_block {
//                        z-index: 6;
//                        cursor: pointer;
//                        .avatar_img {
//                            background-color: $page-background;
//                            border: 1.5px solid $main-green;
//                            border-radius: 20px;
//                            padding: 1px;
//                            height: 25px;
//                        }
//                    }
//                    .avatar_name {
//                        display: none;
//                    }
//                }
//                .profileMenuList {
//                    position: absolute;
//                    z-index: 999;
//                    left: 15px;
//                    div {
//                        i {
//                            margin: 0;
//                            padding: 0;
//                            height: 0;
//                            color: $main-gray;
//                        }
//                        ul {
//                            margin: 0;
//                            font-family: 'Taprom','Montserrat', sans-serif;
//                            font-size: 8px;
//                            border: 2px solid $main-gray;
//                            background-color: white;
//                            padding: 5px;
//                            border-radius: 10px;
//                            padding: 0;
//                            margin: 0;
//                            li {
//                                margin: 2px;
//                                text-align: center;
//                                padding: 8px 8px;
//                                list-style: none;
//                                width: auto;
//                                cursor: pointer;
//                                border-radius: 8px;
//                            }
//                            li:nth-child(2) {
//                                border-top: 1px solid $thirdly-gray;
//                                border-bottom: 1px solid $thirdly-gray;
//                            }
//                            li:hover, li:focus {
//                                background-color: $secondary-green;
//                                color: white;
//                            }
//                            li.btnLogout:hover, li.btnLogout:focus {
//                                background-color: $main-red;
//                            }
//                        }
//                    }
//                }
//            }
//        }
//
//        #sideMenu {
//            position: fixed;
//            width: 0;
//            top: 0;
//            left: 0;
//            height: 100%;
//            background-color: $main-green;
//            overflow-x: hidden;
//            transition: 0.5s;
//            padding: 0;
//            .logo {
//                text-align: center;
//                .KCLogo {
//                    height: 50px;
//                }
//            }
//            .menuTitle {
//                font-size: 1.2em;
//                margin-top: 20px;
//            }
//            .menuList {
//                padding-left: 20px;
//                margin-top: 10px;
//                button {
//                    cursor: pointer;
//                    font-size: 1.4em;
//                    color: white;
//                    margin: 15px 0;
//                    text-align: left;
//                    background: transparent;
//                    display: block;
//                    width: 100%;
//                    border: none;
//                    border-radius: 20px;
//                }
//                button:focus {
//                    background: white;
//                    color: $main-green;
//                }
//                .languageSetting {
//                    label {
//                        color: white;
//                        font-size: 1.4em;
//                    }
//                    select {
//                        display: block;
//                    }
//                }
//            }
//        }
//    }
//}
