
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Social media colors
$facebook: #3b5998;
$twitter: #38A1F3;
$google: #DB4437;

// KC defined colors
$main-blue: #005273;
$main-green: #0A5748;
$main-gray: #424242;
$main-black: #262626;
$secondary-green: #17CCA9;
$secondary-gray: #707070;
$thirdly-gray: #D8D8D8;
$page-background: #F3F3F3;

// KC defined font-size
$secondary-title: 1.2rem;