
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Sniglet');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
// Khmer Fonts
@import url('https://fonts.googleapis.com/css?family=Angkor');
@import url('https://fonts.googleapis.com/css?family=Hanuman');
@import url('https://fonts.googleapis.com/css?family=Kdam+Thmor');
@import url('https://fonts.googleapis.com/css?family=Taprom&display=swap');
// Code Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Semantic UI
@import '~semantic-ui/dist/semantic.min.css';

// Noty
@import '~noty/src/noty.scss';
@import '~noty/src/themes/relax.scss';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Quill Rich Text Editor
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import '~quill/dist/quill.bubble.css';

// CodeMirror
@import '~codemirror/lib/codemirror.css';

@import '~codemirror/theme/dracula.css';
@import '~codemirror/theme/material.css';
@import '~codemirror/theme/duotone-dark.css';
@import '~codemirror/theme/duotone-light.css';
@import '~codemirror/theme/elegant.css';
@import '~codemirror/theme/eclipse.css';

@import '~codemirror/addon/hint/show-hint.css';

@import 'code_mirror_editor.scss';

//***************************************
// Global Style
//***************************************
body {
    padding-top: 4rem;
    font-size: 13px;
    background: $page-background;
}

*,
button,
h1, h2, h3, h4, h5, h6,
.ui.button,
.ui.form input[type=text],
.ui.form textarea
{
    font-family: 'Taprom', 'Comfortaa', sans-serif;
}

// Override default location of noty
#noty_layout__topRight, #noty_layout__topLeft, #noty_layout__topCenter {
    top: 3.2rem;
    width: auto;
    .noty_body {
        font-size: 1.1rem;
        font-family: "Patrick Hand", sans-serif;
        text-align: left;
    }
}

#mainContent {
    margin-top: 20px;
    max-width: 100%;
    padding: 0 4rem;
}

@media screen and (max-width: $above-mobile-L) {
    #mainContent {
        padding: 0 2em;
    }
}

hr.greenLine {
    margin: 1.5rem 0;
    background-color: $secondary-green;
}
hr.grayLine {
    background-color: $thirdly-gray;
    margin: 3px 0;
}

//------------------------------------------------------------------------Text
.textAlignCenter {
    text-align: center;
}
//------------------------------------------------------------------------Buttons
button:focus {
    outline: none;
}
.ui.button.fluid.btnPrimary {
    color: $white;
    background-color: $secondary-green;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 5px solid $main-green;
    border-right: 5px solid $main-green;
    border-radius: 10px;
    margin-bottom: 10px;
}
.ui.button.fluid.btnPrimary:hover, .ui.button.fluid.btnPrimary:focus {
    color: $secondary-green;
    background-color: $page-background;
    border-color: $main-green;
    border-top: 1px solid $main-green;
    border-bottom: 1px solid $main-green;
}
.btnLink {
    color: $secondary-green;
    font-weight: bold;
    border: none;
    background: none;
}
.btnLink:hover, .btnLink:focus {
    color: $secondary-green;
    text-decoration: underline;
    font-weight: normal;
    cursor: pointer;
}
.btnLink:hover::after {
    content: ' ⋙';
}
.ui.button.btnFormPrimary {
    color: $white;
    background-color: $secondary-green;
    border: 1.5px solid $secondary-green;
    border-radius: 10px;
    padding: 7px 10px;
}
.ui.button.btnFormPrimary:hover, .ui.button.btnFormPrimary:focus {
    color: $secondary-green;
    background-color: white;
}
.ui.button.btnFormSecondary {
    color: white;
    background-color: $secondary-gray;
    border: 1.5px solid $secondary-gray;
    border-radius: 10px;
    padding: 7px 10px;
}
.ui.button.btnFormSecondary:hover, .ui.button.btnFormSecondary:focus {
    color: $secondary-gray;
    background-color: white;
}
.ui.button.btnFormThirdly {
    background-color: $thirdly-gray;
    border: 1.5px solid $thirdly-gray;
    border-radius: 10px;
    padding: 7px 10px;
}
.ui.button.btnFormThirdly:hover, .ui.button.btnFormThirdly:focus {
    color: $secondary-gray;
    background-color: white;
}
//------------------------------------------------------------------------Dropdown
.ui.dropdown {
    .menu {
        padding: 5px;
        .item {
            border-radius: 5px;
        }
        .item:hover {
            background-color: $secondary-blue;
        }
    }
}

.ui.toggle.checkbox input:checked~label:before,
.ui.toggle.checkbox input:focus:checked~label:before {
    background-color: $secondary-green !important;
}

//-----Font awesome icons
.far, .fas, .fab{
    vertical-align: middle;
    font-size: 1.2rem;
}
.fa-1-5x {
    font-size: 1.5rem;
}
.fa-2x {
    font-size: 2rem;
}

@import '_animate.css';
@import 'reusable_components/content_management_preview';
@import 'reusable_components/content_editor';
@import 'reusable_components/description_element';
@import 'reusable_components/content_action_view';

@import 'navbar';
@import 'footer';
@import 'auth/social_login.scss';
@import 'auth/login';
@import 'auth/user_profile';
@import 'auth/change_password';
@import 'question/post_question';
@import 'question/view_question';
