
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Sniglet');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
// Khmer Fonts
@import url('https://fonts.googleapis.com/css?family=Angkor');
@import url('https://fonts.googleapis.com/css?family=Hanuman');
@import url('https://fonts.googleapis.com/css?family=Kdam+Thmor');
@import url('https://fonts.googleapis.com/css?family=Taprom&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Noty
@import '~noty/src/noty.scss';
@import '~noty/src/themes/nest.scss';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Quill Rich Text Editor
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import '~quill/dist/quill.bubble.css';

// CodeMirror
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/dracula.css';
@import '~codemirror/theme/monokai.css';
@import '~codemirror/addon/hint/show-hint.css';

//***************************************
// Global Style
//***************************************
body {
    padding-top: 4rem;
    font-family: 'Montserrat';
    font-size: 13px;
    background: $page-background;
}

// Override default location of noty
#noty_layout__topRight, #noty_layout__topLeft, #noty_layout__topCenter {
    top: 3.2rem;
    width: auto;
    .noty_body {
        font-size: 1.1rem;
        font-family: "Patrick Hand", sans-serif;
        text-align: left;
    }
}

.container {
    max-width: 100%;
    padding: 0 4rem;
}

@media screen and (max-width: $above-mobile-L) {
    .container {
        padding: 0 2em;
    }
}

hr.greenLine {
    margin: 1.5rem 0;
    background-color: $secondary-green;
}
hr.grayLine {
    background-color: $thirdly-gray;
    margin: 3px 0;
}

.formTitle {
    text-transform: uppercase;
    color: $main-green;
    margin: 0.1rem 0 2rem 0;
}

//-----Buttons
button:focus {
    outline: 0;
}
.btn-primary {
    margin: 0px;
    border: none;
    background-color: $page-background;
    color: $main-green;
}
.btn-primary i {
    transition: all 0.5s ease-in-out;
}
.btn-primary:hover, .btn-primary:focus {
    cursor: pointer;
    background-color: $main-green;
    color: white;
}
.btnSubmit {
    font-weight: bold;
    color: $white;
    background-color: $secondary-green;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 5px solid $main-green;
    border-right: 5px solid $main-green;
    border-radius: 10px;
}
.btnSubmit:hover, .btnSubmit:focus {
    color: $main-green;
    background-color: $page-background;
    border-color: $main-green;
    border-top: 1px solid $main-green;
    border-bottom: 1px solid $main-green;
}
.btnLink {
    color: $secondary-green;
    font-weight: bold;
    border: none;
    background: none;
}
.btnLink:hover, .btnLink:focus {
    color: $secondary-green;
    text-decoration: underline;
    font-weight: normal;
    cursor: pointer;
}
.btnLink:hover::after {
    content: ' ⋙';
}
.btnFormPrimary {
    color: $white;
    background-color: $secondary-green;
    border: 2px solid $secondary-green;
    border-radius: 10px;
}
.btnFormPrimary:hover, .btnFormPrimary:focus {
    color: $main-black;
    background-color: white;
}
.btnFormSecondary {
    color: white;
    background-color: $main-gray;
    border: 2px solid $main-gray;
    border-radius: 10px;
}
.btnFormSecondary:hover, .btnFormSecondary:focus {
    color: $main-black;
    background-color: white;
}
.btnFormThirdly {
    background-color: $thirdly-gray;
    border: 2px solid $thirdly-gray;
    border-radius: 10px;
}
.btnFormThirdly:hover, .btnFormThirdly:focus {
    color: $main-black;
    background-color: white;
}
.btnSocialMedia {
    margin-top: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: white;
    .socialMediaGo {
        visibility: hidden;
    }
}
.btnSocialMedia:hover, .btnSocialMedia:focus {
    border-style: dashed;
    cursor: pointer;
    .socialMediaText {
        font-weight: bold;
    }
    .socialMediaGo {
        visibility: visible;
    }
}
.btnFacebook {
    border: 1px solid $facebook;
    .socialMediaText {
        color: $facebook;
    }
}
.btnTwitter {
    border: 1px solid $twitter;
    .socialMediaText {
        color: $twitter;
    }
}
.btnGoogle {
    border: 1px solid $google;
    .socialMediaText{
        color: $google;
    }
}
.btnSocialMedia > div {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: white;
    grid-auto-rows: minmax(30px, 30px);
    div:nth-child(1) {
        align-self: center;
    }
    div:nth-child(2) {
        justify-self: left;
        align-self: center;
    }
    div:nth-child(3) {
        justify-self: right;
        align-self: center;
    }
    .socialMediaImg {
        width: 25px;
    }
    i {
        color: $main-gray;
    }
}

//-----Font awesome icons
.far, .fas, .fab{
    vertical-align: middle;
    font-size: 1.2rem;
}
.fa-1-5x {
    font-size: 1.5rem;
}
.fa-2x {
    font-size: 2rem;
}

//-----Bootstrap form
.form-group {
    margin-left: 0;
    margin-right: 0;
}
.col-form-label {
    padding-left: 0;
    font-weight: bold;
}

// ---- Description Element
.descElement {
    padding: 0;
    margin: 3px 0;
    position: relative;
    z-index: 10;
    .descTools {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 11;
        height: 100%;
        width: 100%;
        text-align: right;
        border-radius: 5px;
        border: 1.5px dashed transparent;
        background-color: transparent;
        button {
            visibility: hidden;
            border: none;
            background: none;
            padding: 0;
            margin: 0 5px;
            height: 100%;
            color: $main-gray;
            i {
                font-size: 0.9rem;
            }
        }
        button:hover, button:focus {
            color: $secondary-green;
        }
    }
    .descTools.editing {
        background-color: rgba($secondary-gray, 0.3);
        border-color: $main-gray;
    }
    .descTools.edited {
        animation: blink 1.5s;
    }
    @keyframes blink{
        0%{opacity: 0; background-color: $white;}
        50%{opacity: .4; background-color: $white}
        100%{opacity: .6; background-color: $white;}
    }
    .descTools:hover, .descTools:focus, .descContent .ql-editor:hover .descTools {
        transition: 0.5s;
        background-color: rgba($secondary-green, 0.3);
        cursor: pointer;
        border-color: white;
    }
    span {
        position: relative;
        right: -50px;
        visibility: hidden;
    }
    .descTools:hover span {
        border-radius: 10px 0 0 10px;
        padding: 10px;
        background-color: rgba($white, 0.8);
        visibility: visible;
        right: 0;
        transition: 0.5s;
    }
    .descTools:hover button {
        visibility: visible;
    }
    .descContent {
        background-color: white;
        border: 1.5px dashed $thirdly-gray;
        border-radius: 5px;
    }
}

// --- TVY Content Editor
.TVYContentOrder {
    padding: 0;
    z-index: 333;
}
// TODO: set static width & height of content editor
.TVYContentEditor {
    z-index: 334;
    margin: 5px 0;
    padding: 0;
    border-radius: 5px;
    .tabTypeContent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2px;
        align-items: stretch;
        button {
            margin: 0;
            border-radius: 10px 10px 0 0;
            border: 1px solid $thirdly-gray;
            border-bottom: none;
            background-color: white;
            color: $secondary-gray
        }
        button:hover, button:focus {
            font-weight: bold;
            background-color: $page-background;
        }
        button.selected {
            background-color: $secondary-green;
            color: white;
        }
    }
    .editor {
        border: 1px solid $thirdly-gray;
        border-top: none;
        border-bottom: none;
        .ql-container {
            height: 200px;
        }
        #TVYCodeEditor {
            .codeEditorTools {
                padding: 5px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                label {
                    margin: 0;
                    text-align: right;
                }
                i {
                    font-size: 0.9em;
                    color: $secondary-gray;
                }
                i:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .actionContentEditor {
        border: 1px solid $thirdly-gray;
        border-top: none;
        border-radius: 0 0 10px 10px;
        text-align: center;
        background-color: white;
        padding: 5px;
        .btnAddContent {
            border: 2px solid $secondary-green;
            background-color: $secondary-green;
            border-radius: 10px;
            color: white;
            padding: 2px 15px;
        }
        .btnAddContent:hover, .btnAddContent:focus {
            background-color: white;
            color: $secondary-green;
        }
    }
}

// -------------- TVY Content Action View
.TVYContentActionView {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 5px;
    .viewPart {
        border-top: 1px solid $thirdly-gray;
        padding-top: 20px;
        .ql-container {
            border: none;
            padding: 0;
        }
        .ql-editor {
            padding: 0;
        }
    }
    .actionPart {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 5px 10px;
        border-top: 1px solid $thirdly-gray;
        border-bottom: 1px solid $thirdly-gray;
        .vote {
            justify-self: left;
            align-self: center;
            color: $secondary-gray;
            .numVote {
                font-weight: bold;
                margin: 0 10px;
                padding: 0 10px;
            }
            i {
                cursor: pointer;
            }
            i:focus, i:hover, i.selected {
                color: $secondary-green;
            }
        }
        .askedOrEditedDate {
            color: $secondary-gray;
            align-self: center;
            justify-self: center;
            text-align: center;
            font-size: 0.9em;
            margin: 0;
            padding: 0;
        }
        .authorIdentity {
            justify-self: right;
            align-self: center;
            .authorInfo {
                font-weight: bold;
                color: $main-green;
                cursor: pointer;
            }
            .authorInfo:hover, .authorInfo:focus {
                color: $secondary-green;
                text-decoration: underline;
            }
            .authorAvatar {
                height: 30px;
                border-radius: 40px;
                border: 1.5px solid $main-green;
                padding: 1px;
                cursor: pointer;
            }
        }
    }
}

//***********************
// KC Navbar
//***********************
@import 'navbar';
@import 'auth/login';
@import '_animate.css';
@import 'auth/user_profile';
@import 'auth/change_password';
@import 'question/post_question';
@import 'question/view_question';
