
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Sniglet');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Noty
@import '~noty/src/noty.scss';
@import '~noty/src/themes/nest.scss';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

//***************************************
// Global Style
//***************************************
body {
  padding-top: 4rem;
  font-family: 'Montserrat';
  font-size: 13px;
  background: $page-background;
}

// Override default location of noty
#noty_layout__topRight, #noty_layout__topLeft, #noty_layout__topCenter {
  top: 3.2rem;
  width: auto;
  .noty_body {
    font-size: 1.1rem;
    font-family: "Patrick Hand", sans-serif;
    text-align: left;
  }
}

.container {
  max-width: 100%;
  padding: 0 4rem;
}

hr.greenLine {
  margin: 1.5rem 0;
  background-color: $secondary-green;
}
hr.grayLine {
  background-color: $thirdly-gray;
  margin: 3px 0;
}

.formTitle {
  text-transform: uppercase;
  color: $main-green;
  margin: 0.1rem 0 2rem 0;
}

//-----Buttons
button:focus {
  outline: 0;
}
.btn-primary {
  margin: 0px;
  border: none;
  background-color: $page-background;
  color: $main-green;
}
.btn-primary i {
  transition: all 0.5s ease-in-out;
}
.btn-primary:hover, .btn-primary:focus {
  cursor: pointer;
  background-color: $main-green;
  color: white;
}
.btnSubmit {
  font-weight: bold;
  color: $white;
  background-color: $secondary-green;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 5px solid $main-green;
  border-right: 5px solid $main-green;
  border-radius: 10px;
}
.btnSubmit:hover, .btnSubmit:focus {
  color: $main-green;
  background-color: $page-background;
  border-color: $main-green;
  border-top: 1px solid $main-green;
  border-bottom: 1px solid $main-green;
}
.btnLink {
  color: $secondary-green;
  font-weight: bold;
  border: none;
  background: none;
}
.btnLink:hover, .btnLink:focus {
  color: $secondary-green;
  text-decoration: underline;
  font-weight: normal;
  cursor: pointer;
}
.btnLink:hover::after {
  content: ' ⋙';
}
.btnSocialMedia {
  margin-top: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: white;
  .socialMediaGo {
    visibility: hidden;
  }
}
.btnSocialMedia:hover, .btnSocialMedia:focus {
  border-style: dashed;
  cursor: pointer;
  .socialMediaText {
    font-weight: bold;
  }
  .socialMediaGo {
    visibility: visible;
  }
}
.btnFacebook {
  border: 1px solid $facebook;
  .socialMediaText {
    color: $facebook;
  }
}
.btnTwitter {
  border: 1px solid $twitter;
  .socialMediaText {
    color: $twitter;
  }
}
.btnGoogle {
  border: 1px solid $google;
  .socialMediaText{
    color: $google;
  }
}
.btnSocialMedia > div {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  color: white;
  grid-auto-rows: minmax(30px, 30px);
  div:nth-child(1) {
    align-self: center;
  }
  div:nth-child(2) {
    justify-self: left;
    align-self: center;
  }
  div:nth-child(3) {
    justify-self: right;
    align-self: center;
  }
  .socialMediaImg {
    width: 25px;
  }
  i {
    color: $main-gray;
  }
}

//-----Font awesome icons
.far, .fas, .fab{
  vertical-align: middle;
  font-size: 1.2rem;
}
.fa-1-5x {
  font-size: 1.5rem;
}
.fa-2x {
  font-size: 2rem;
}

//-----Bootstrap form
.form-group {
  margin-left: 0;
  margin-right: 0;
}
.col-form-label {
  padding-left: 0;
  font-weight: bold;
}

// ---- Description Element
.descElement {
  padding: 0;
  margin: 3px 0;
  .descTools {
    text-align: right;
    margin-bottom: 2px;
    button {
      border: none;
      background: none;
      padding: 0;
      margin: 0 5px;
      color: $main-gray;
      i {
        font-size: 0.9rem;
      }
    }
    button:hover, button:focus {
      color: $secondary-green;
    }
    button.inactive {
      color: $thirdly-gray;
      cursor: not-allowed;
    }
  }
  .descContent {
    background-color: white;
    padding: 10px;
    border: 1.5px dashed $thirdly-gray;
    border-radius: 5px;
  }
}

// --- Content Editor
.contentEditor {
  margin: 5px 0;
  padding: 0;
  border: 1px solid $secondary-gray;
  border-radius: 5px;
  .tabTypeContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2px;
    align-items: stretch;
    button {
      margin: 1px;
      margin: 0;
      border-radius: 5px;
      background: none;
      border: none;
      background-color: white;
      color: $secondary-gray
    }
    button:hover, button:focus {
      font-weight: bold;
      background-color: $page-background;
    }
    button.selected {
      background-color: $secondary-blue;
      color: white;
    }
  }
  .editor {
    border-top: 1px dashed $thirdly-gray;
    border-bottom: 1px dashed $thirdly-gray;
  }
  .actionContentEditor {
    border-radius: 5px;
    text-align: right;
    background-color: white;
    padding: 5px;
    .btnAddContent {
      border: 2px solid $secondary-blue;
      background: none;
      background-color: $secondary-blue;
      border-radius: 10px;
      color: white;
      padding: 2px 15px;
    }
    .btnAddContent:hover, .btnAddContent:focus {
      background-color: white;
      color: $secondary-blue;
    }
  }
}

//***********************
// KC Navbar
//***********************
@import 'navbar';
@import 'auth/login';
@import '_animate.css';
@import 'auth/user_profile';
@import 'auth/change_password';
@import 'question/ask';