.listOfItems {
    padding-left: 15px;
    .item {
        border-bottom: 1px solid $thirdly-gray;
        padding: 10px 0;
        display: grid;
        grid-template-columns: auto 100px;
        align-items: center;
        .basicInfo {
            border-right: 1px solid $thirdly-gray;
            padding-right: 10px;
            .title {
                margin-bottom: 5px;
                a {
                    color: $prim;
                    font-size: 1.3em;
                }
                a:focus, a:hover {
                    color: $contrast-prim;
                }
            }
            .authorInfo {
                color: $main-front;
                a {
                    font-weight: bold;
                }
                a:hover, a:focus {
                    color: $contrast-prim
                }
            }
        }
        .stats {
            color: $main-front;
            justify-self: center;
        }
    }
    .KCPagination {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 0;
        list-style: none;
        display: inline-block;
        >li {
            margin-left: 3px;
            margin-right: 3px;
            display: inline;
            >a, >span {
                padding: 8px 12px;
                text-decoration: none;
                color: $prim;
            }
            >span.disabled:hover {
                cursor: not-allowed;
            }
            >a:focus, >a:hover, >span:focus, >span:hover {
                background-color: $contrast-prim-light;
            }
        }
        >li.active {
            >a, >span {
                background-color: $contrast-prim;
                color: $prim;
                border: 1px solid $contrast-prim;
            }
        }
        >li.next {
            >a, >span {
                border-radius: 0 20px 20px 0;
                border: 1px solid $contrast-prim;
                border-right-width: 5px;
            }
        }
        >li.previous {
            >a, >span {
                border-radius: 20px 0 0 20px;
                border: 1px solid $contrast-prim;
                border-left-width: 5px;
            }
        }
    }
}
