.subjectAndTags {
    .subjectTag, .tagTag {
        font-size: 0.8em;
        margin-top: 10px;
        margin-bottom: 2px;
        display: inline-block;
        padding: 2px 5px;
        cursor: pointer;
        img {
            vertical-align: middle;
            height: 16px;
        }
    }
    .subjectTag {
        color: $prim;
        border: 1px solid $prim;
        background-color: $main-background;
        border-radius: 20px;
    }
    .tagTag {
        color: $prim;
        border: 1px solid $prim;
        background-color: $main-background;
        border-radius: 5px;
    }
    .subjectTag:hover, .subjectTag:focus {
        background-color: $prim;
        color: $main-background;
    }
    .tagTag:hover, .tagTag:focus {
        background-color: $prim;
        color: $main-background;
    }
    .subjectTagSeparator {
        color: $contrast-prim;
    }
}
