.TVYContentActionView {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    .viewPart {
        padding-top: 10px;
        .descElementForView {
            margin-top: 10px;
            margin-bottom: 10px;
            .CodeMirror {
                border-radius: 10px;
                height: auto;
                .CodeMirror-cursors {
                    display: none;
                }
            }
        }
        .ql-container {
            border: none;
            padding: 0;
        }
        .ql-editor {
            padding: 0;
        }
        .imageContent {
            .imageView {
                position: relative;
                z-index: 22;
                cursor: pointer;
                .imageFile {
                    width: 100%;
                    border-radius: 5px;
                    display: block;
                    opacity: 1;
                }
                .toolZoomImage {
                    color: $main-green;
                    visibility: hidden;
                    text-align: center;
                    font-size: 1.2em;
                    position: absolute;
                    top: 45%;
                    left: 0;
                    width: 100%;
                    z-index: 23;
                    i {
                        font-size: 1.5em;
                    }
                }
            }
            .imageView:hover .toolZoomImage{
                visibility: visible;
            }
            .imageView:hover .imageFile {
                opacity: 0.5;
            }
            .imageCaption {
                font-style: italic;
                font-size: 0.8em;
                overflow-x: hidden;
                width: 100%;
                margin: 0;
                color: $main-gray;
            }
        }
    }
    .actionPart {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 5px 10px;
        border: 1px solid $thirdly-gray;
        border-radius: 20px;
        .vote {
            justify-self: left;
            align-self: center;
            color: $secondary-gray;
            .numVote {
                font-weight: bold;
                margin: 0 10px;
                padding: 0 10px;
            }
            i {
                cursor: pointer;
            }
            i:focus, i:hover, i.selected {
                color: $secondary-green;
            }
        }
        .askedOrEditedDate {
            color: $secondary-gray;
            align-self: center;
            justify-self: center;
            text-align: center;
            font-size: 0.9em;
            margin: 0;
            padding: 0;
        }
        .authorIdentity {
            justify-self: right;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 3px;
            align-items: center;
            .authorInfo {
                font-weight: bold;
                color: $main-green;
                cursor: pointer;
            }
            .authorInfo:hover, .authorInfo:focus {
                color: $secondary-green;
                text-decoration: underline;
            }
            .authorAvatar {
                vertical-align: middle;
                height: 30px;
                border-radius: 40px;
                border: 1.5px solid $main-green;
                padding: 1px;
                cursor: pointer;
            }
        }
    }
}
