.askQuestionContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  .questionCreation {
    .headAskQuestion {
      display: grid;
      grid-template-columns: 8% 92%;
      div:first-child {
        text-align: center;
        color: $main-green;
        background-color: $page-background;
        color: $main-green;
        border-radius: 30px 30px 0 30px;
        border: 3px solid $main-green;
        padding: 8px;
      }
      div:last-child {
        font-weight: bold;
        color: $main-gray;
        font-size: 1.5em;
        border-bottom: 3px solid $main-green;
        align-self: end;
        span {
          margin-left: 10px;
        }
      }
    }
    .questionTips {
      margin-top: 10px;
      border: 1px solid $main-green;
      padding: 10px;
      border-radius: 10px;
      .tipText {
        padding-left: 20px;
      }
    }
    .askQuestionForm {
      margin-top: 10px;
    }
  }
  .questionPreview {
    border: 1px dashed red;
  }
}