.pageViewQuestion {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px;
    .leftExtraSpace {
        border: 1px dashed yellowgreen;
    }
    .viewQuestionContent {
        .titleBlock {
            color: $main-gray;
            display: grid;
            grid-template-columns: 30px auto;
            align-items: center;
            .questionFavorite {
                display: block;
            }
            .questionFavorite:hover, .questionFavorite:focus, .questionFavorite.selected{
                cursor: pointer;
                color: $secondary-green;
            }
            .questionTitle {
                display: block;
                font-weight: bold;
                margin: 0;
            }
        }
        //border: 1px dashed pink;
    }
    .rightExtraSpace {
        border: 1px dashed mediumpurple;
    }
}
