.pageViewQuestion {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px;
    .leftExtraSpace {
        border: 1px dashed yellowgreen;
    }
    .viewQuestionContent {
        .titleBlock {
            color: $main-gray;
            display: grid;
            grid-template-columns: 30px auto;
            align-items: center;
            .questionFavorite {
                display: block;
            }
            .questionFavorite:hover, .questionFavorite:focus, .questionFavorite.selected{
                cursor: pointer;
                color: $secondary-green;
            }
            .questionTitle {
                display: block;
                font-weight: bold;
                margin: 0;
            }
        }
        .subjectTag {
            font-size: 0.9em;
            margin-top: 10px;
            margin-bottom: 2px;
            border: 1px solid $secondary-blue;
            background-color: $secondary-blue;
            color: white;
            display: inline-block;
            padding: 2px 5px;
            border-radius: 20px;
            cursor: pointer;
            img {
                vertical-align: middle;
                height: 18px;
            }
        }
        .subjectTag:hover, .subjectTag:focus {
            background-color: $white;
            color: $secondary-gray;
        }
    }
    .rightExtraSpace {
        border: 1px dashed mediumpurple;
    }
}
