.pageViewQuestion {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px;
    .leftExtraSpace {
        //border: 1px dashed yellowgreen;
        border-right: 1px solid $thirdly-gray;
    }
    .viewQuestionContent {
        .titleBlock {
            color: $main-gray;
            display: grid;
            grid-template-columns: 30px auto;
            align-items: center;
            .questionFavorite {
                display: block;
            }
            .questionFavorite:hover, .questionFavorite:focus, .questionFavorite.selected{
                cursor: pointer;
                color: $secondary-green;
            }
            .questionTitle {
                display: block;
                font-weight: bold;
                margin: 0;
            }
        }
        .subjectTag, .tagTag {
            font-size: 0.8em;
            margin-top: 10px;
            margin-bottom: 2px;
            display: inline-block;
            padding: 2px 5px;
            cursor: pointer;
            img {
                vertical-align: middle;
                height: 16px;
            }
        }
        .subjectTag {
            color: white;
            border: 1px solid $main-blue;
            background-color: $main-blue;
            border-radius: 20px;
        }
        .tagTag {
            color: $main-blue;
            border: 1px solid $main-blue;
            background-color: transparent;
            border-radius: 5px;
        }
        .subjectTag:hover, .subjectTag:focus {
            background-color: $white;
            color: $main-gray;
            font-weight: bold;
        }
        .tagTag:hover, .tagTag:focus {
            background-color: $secondary-blue;
            color: white;
        }
        .subjectTagSeparator {
            color: $secondary-gray;
        }
    }
    .rightExtraSpace {
        //border: 1px dashed mediumpurple;
        //border-left: 1px solid $thirdly-gray;
    }
}
.answerQuestionBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin-top: 30px;
    padding: 20px 3px;
    background-color: $thirdly-gray;
    border-radius: 5px;
    .answerCreation {
        h4 {
            text-align: center;
        }
        >button {
            margin-top: 15px;
        }
    }
    .answerContentManagement {

    }
}
