.changePasswordContent {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 5px;
    .briefInfo {
        padding-right: 50px;
        border-right: 1.2px solid $thirdly-gray;
        justify-self: right;
        text-align: center;
        .username {
            color: $prim;
        }
        .avatar_img {
            border: 2px solid $main-green;
            border-radius: 100px;
            padding: 5px;
            width: 180px;
            height: 180px;
        }
    }
    .changePasswordForm {
        padding-left: 50px;
    }
    .notice {
        margin-top: 20px;
        font-size: 0.9em;
        p {
            line-height: 20px;
            color: $main-front;
        }
    }
}
