.socialLoginButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    .btnSocialLogin {
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: $main-background;
        border: 3px solid $contrast-prim;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-radius: 10px;
        display: block;
        cursor: pointer;
        i {
            color: $prim;
            font-size: 1.5em;
        }
    }
    .btnSocialLogin:hover, .btnSocialLogin:focus {
        background-color: $prim;
        i {
            color: $main-background;
        }
    }
}
